
/*タブレット向けレイアウト ここから*/

@media all and (max-width: 1024px) {

  .header-right li{
  /*list-style: none;
  float: right;
  line-height: 45px;*/
  padding: 0 10px;
}

  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2{
    font-size:20px;
  }
  
  .works-wrapper{
    height:850px;
    padding-bottom: 40px;
  }
  
  .container {
  max-width: 1024px;
  width: 100%;
 /* padding: 0 60px;*/
  margin: 0 auto;
}

  .work{
  padding: 10px;
  width: 50%;
  float: left;
  }

  .work-icon img{
  width: 360px;
  height: 270px;
  }


  footer{
    text-align:center;
  }


}



/*モバイル向けレイアウト ここから*/

@media all and (max-width: 750px) {
  
  .header-right {
    margin-right: 0;
  }
  

.header-right li{
  font-size: 16px;
  /*list-style: none;
  float: right;
  line-height: 45px;*/
  padding: 0 10px;
}

.top-wrapper h1 {
    font-size: 20px;
  }

.works-wrapper{
    height:1350px;
  }

.container {
  max-width: 800px;
  width: 100%;
 /* padding: 0 60px;*/
  /*margin: 0 auto;*/
  text-align: center;
}

.work{
  /*padding: 10px;*/
  /*margin-bottom: 10px;
  padding-bottom: 10px;*/
  margin: 0 auto;
  width: 100%;
  }

.work-icon img{
  /*border-radius: 5px;*/
  /*text-align: left;*/
  width: 360px;
  height: 240px;
  }

.work-title{
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
  }


}