
/*タブレット向けレイアウト ここから*/

@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2{
    font-size:20px;
  }
  
  .works-wrapper{
    height:1090px;
  }
  

  .work{
  padding: 10px 40px;
  width: 50%;
}

  footer{
    text-align:center;
  }
}


/*モバイル向けレイアウト ここから*/

@media all and (max-width: 670px) {
  .header-right {
    margin-right: 0;
  }
  

.header-right li{
  font-size: 16px;
  }

.top-wrapper h1 {
    font-size: 20px;
  }

.works-wrapper{
    height:1800px;
  }

.work{
  padding: 10px 40px 20px 40px;
  /*margin-bottom: 10px;
  padding-bottom: 10px;*/
  width: 100%;
  }

.work-icon img{
  /*border-radius: 5px;*/
  /*text-align: left;*/
  width: 280px;
  height: 210px;
  }

.work-title{
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
  }


}