
/*タブレット向けレイアウト */
/*@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2{
    font-size:20px;
  }
  
  .works-wrapper{
    height:1090px;
  }
  
  .work{
    width:50%;
    margin-bottom:50px;
  }
  
  footer{
    text-align:center;
  }
  
}
*/
 



/*モバイル向けレイアウト ここから*/

@media all and (max-width: 670px) {
  .header-right {
    margin-right: 0;
  }
  




.work{
  padding: 10px 40px;
  width: 100%;
}
  
  .top-wrapper h1 {
    font-size: 20px;
  }

  .works-wrapper{
    height:1800px;
  }


}