


body{
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}


a{
  text-decoration: none;
}


* {
  box-sizing: border-box;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://dummyimage.com/1024x570/000/fff.png);
  background-size: cover;
  color: white;
  text-align: center;
}


header{
	background-color: #ffffff;
	width: 100%;
	height: 65px;
	top: 0;
	z-index: 10px;
	position: fixed;
}

/*progateの見本*/
/*header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}*/



.header-logo img{
	display: inline-block;
	float: left;
	width: 190px;
	height: 80px;
	margin: 10px 20px 10px 140px;
}

.header-left li{
	list-style: none;
	float: left;
	padding-top: 10px;
	padding-right: 40px;
	color: red;
}

.header-left {
	margin-left: 20px;
}


.header-right li{
	list-style: none;
	float: right;
	padding-top: 10px;
	padding-right: 40px;
	color: red;
}


.header-right {
	margin-right: 20px;
}

.works-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height:630px;
}


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.heading {
  padding-top: 60px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  margin-top:20px;
}


.works{
　max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.work {
  float: left;
  width: 50%;
  }


.clear{
  float:clear;
}

/*.work-icon {
  position: relative;
}


.work-icon p{
  position: absolute;
  top:300px;
  left: -125px;
  width: 100%;
  color: red;
  z-index: 99;
}*/

/*
.work-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}*/


/* -------------------- CSSは一番下から書き始めてください！ -------------------- 






/*.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}*/

/*.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}*/


/*
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}*/



/*.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}*/

/*.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}*/

/*.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.works-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height:630px;
}*/

/*.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  margin-top:20px;
}

.work {
  float: left;
  width: 25%;
}

.work-icon {
  position: relative;
}



.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}*/

/*.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}*/

/* -------------------- CSSはここから追加していきましょう！ -------------------- 
/*.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* デフォルトではメニューアイコンは非表示に */
 /* display: none;
}

.clear{
  float:clear;
}
*/
